@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Riddles Emporium</h1>
    <p>Explore the best riddles from around the world straight on your local host.</p>
</div>
